@font-face {
    font-family: webMontserrat;
    src: "../fonts/Montserrat-Regular.ttf"
}
body {
    font-family: Montserrat;
}
input::-webkit-input-placeholder {
    font-family: Montserrat;
}
.header {
    text-align: center;
    padding: 200px 0 210px;
    background: url(../img/header_bg.jpg) no-repeat center;
    background-size: 100%;
    color: #fff;
}
.header .top {
    width: 770px;
    margin: 0 auto 100px;
    line-height: 32px;
}
.header h1 {
    font-size: 62px;
    margin-bottom: 90px;
    font-weight: lighter;
}
.header .create-account {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    width: 770px;
    margin: 0 auto;
    padding: 60px 100px 50px;
}
.header .create-account .account-title {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.header .create-account p {
    margin-bottom: 20px;
}
.header .create-account span {
    font-size: 12px;
    opacity: 0.3;
}
.create-account .info-form input {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 250px;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    border-radius: 2px;
    margin-right: 30px;
    float: left;
    outline: none;
    color: #fff;
}
.info-form input:first-child::-webkit-input-placeholder { /* WebKit browsers */
    color:#fff;
}
.create-account .info-form input:last-child {
    width: 125px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    letter-spacing: 0.15em;
    margin: 0;
    background: #fff;
    text-align: center;
    color: #000;
}







.footer {
    background: #141414;
    color: #fff;
    padding: 90px 0 120px;
}
.footer dl {
    float: left;
    margin: 0 15px;
    width: 270px;
}
.footer dl:last-of-type dd {
    line-height: 28px;
}
.footer a {
    color: rgba(255, 255, 255, 0.3);
}
.footer dd {
    line-height: 46px;
}
.footer dd:hover a {
    color: #fff;
}
.footer dt {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.15em;
    font-weight: lighter;
}
.footer-share-btn {
    margin-top: 40px;
}
.footer-share-btn a i {
    font-size: 20px;
    margin-right: 20px;
}
.footer-share-btn a:hover i {
    color: #fff;
}