body {
    font-family: Montserrat;
}
.header {
    text-align: center;
    padding-top: 200px;
    background: url(../img/header_bg.jpg) no-repeat center;
    background-size: 100%;
    color: #fff;
}
.header .top {
    width: 770px;
    margin: 0 auto 100px;
    line-height: 32px;
}
.header h1 {
    font-size: 62px;
    margin-bottom: 90px;
}